<div class="footer">

  <p>
    ATELIERS : L'art de vivre l'art...
  </p>
  <div class="footer-bottom-content">
    <ul class="social-links">
      <li>
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <small> Politique de confidentialité © 2017 Emergence - ATELIERS, Inc. Tous droits réservés </small>
  </div>
</div>
