<div class="conteneurCentral">

<div class="choix">
  <div class="navbar-wagon-right hidden-xs hidden-sm">
   <h1><%= link_to "Espace ARTISTES", new_poi_path %></h1>
   <h1><%= link_to "Espace ARTISANS", new_poi_path %></h1>
  </div>
</div>

  <div class="box size6 color2">
    <div class="banner-home">
      <div class="banner-home-title">
        <h1>Une expérience intense, au coeur de la création</h1>
          <p class="banner-tagline">
          Ce répertoire d'ateliers géolocalisés est un espace de diffusion qui démocratise la découverte des studios d'artistes et d'artisans d'art en proposant une alternative complémentaire à la visite des musées.
          </p>
          <p class="banner-tagline">
          Vous pouvez accéder aux photos et vidéos des ateliers et à toutes les informations concernant les visites libres, les portes ouvertes ou actualités et découvrir leurs productions en avant-première. L'expérience du partage avec l'artiste dans son atelier est un moment privilégié pour explorer l'art sous un angle inédit.</p>
      </div>
    </div>
</div>

  <div class="box size6 color3">
    <h1><%= link_to "Découvrir les ateliers géolocalisés", pois_path, class: "navbar-link" %></h1>
  </div>
